:root{
    --title-color: #212121;
    --text-color: #757575;
    --hover-color: #2196f3;
}

.link{  
    list-style: none;
     
}
a{
    text-decoration: none;
}

body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.header-logo{
    font-family: Raleway, sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.logo-style{
    color: var(--hover-color);
}

.header-items.first{
    color: var(--hover-color);
}
.header-items.two{
    color: var(--hover-color);
}

.header-items.two:hover,
.header-items.two:focus,
.header-items.two:active{
    
    color: var(--title-color);

}

.header-items.first:hover,
.header-items.first:focus,
.header-items.first:active{

    color: var(--title-color);

}

.header-items{
    color: var(--title-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    

}
.header-items:hover,
.header-items:focus,
.header-items:active{
    color: var(--hover-color);
}

.mail{
    color: var(--text-color);

    font-style: normal;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus{
    color: var(--hover-color);
}



.tel{
    color: var(--text-color);

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;
}

.tel:hover,
.tel:focus{
    color: var(--hover-color);
}

/* style text Portfolio */
.title-img{
    color: var(--title-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}

.text-img{
    color: var(--text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.hero{
    
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;

}

.hero-title{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    color: #FFFFFF;
    
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button{
    color: #FFFFFF;
    background-color: var(--hover-color);
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    font-family: 'Roboto';
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-portfolio{
    font-family: Roboto, sans-serif;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus{
    background-color: var(--hover-color);
    color: #FFFFFF;
}

.features{
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
}

.features-title{ 
    color: var(--title-color);   

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text-features{
    color: var(--text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}

.our-team{
    background-color: #F5F4FA;
}

.work{
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team{
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center; 
}

.workers{
    color: var(--title-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;  
    letter-spacing: 0.03em;
}

.specialty-workers{
    color: var(--text-color);

   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    
}

.footer-logo{
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
    

    font-size: 26px;
    line-height: 1.19;
}



.address{
    color: #FFFFFF;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}




.footer{
    background-color: #2F303A;

    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2676px;

}
