:root{
    --title-color: #212121;
    --text-color: #757575;
    --hover-color: #2196f3;
}
body{
    font-family: Roboro, sans-serif;
    letter-spacing: 0.03em;
}

a{
    text-decoration: none;
}
.link{
    list-style: none;
}

.header-logo{
    font-family: Raleway, sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.logo-style{
    color: var(--hover-color);
}

.header-items.second{
    color: var(--hover-color);
}

.header-items.second:hover,
.header-items.second:focus,
.header-items.second:active{

    color: var(--title-color);

}

.header-items{
    color: var(--title-color);

    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    

}
.header-items:hover,
.header-items:focus,
.header-items:active{
    color: var(--hover-color);
}

.mail{
    color: var(--hover-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;
}



.tel{
    color: var(--text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;
}


.button{
    color: #212121;
    font-family: inherit;
    cursor: pointer;
}

.button:hover{
    color: #ffffff;
    background-color: #2196F3;

}

.title-img{
    color: var(--title-color);
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.text-img{

    color: var(--text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;

}
.footer{
    background-color: #2F303A;
}

.footer-logo{
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
    

    font-size: 26px;
    line-height: 1.19;
}

.address{
    color: #FFFFFF;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}

.mail-footer{
    /* color: rgba(255, 255, 255, 0.6); */

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;


}

.tel-footer{
    /* color: rgba(255, 255, 255, 0.6); */

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}

